/* Layout */
body {
  background-color: #fcfcfc;
  color: rgba(0, 0, 0, 0.8);
  font: 100% 'Roboto', sans-serif;
  height: calc(100vh - 32px);
  margin: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#react-root {
  height: 100%;
}

.ConfigContainer {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  height: calc(25% - 16px);
  margin-bottom: 16px;
  padding: 8px;
}

.TableContainer {
  height: calc(75% - 16px);
}


/* Inputs */
label {
  margin-right: 4px;
}

input {
  border: 1px solid black;
}


/* Other */
.UserProfileImage {
  border-radius: 4px;
}
