/*********
 * Table *
 *********/
.Tangelo__Table {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  width: 100%;
}


/************
 * TableRow *
 ************/
.Tangelo__Table__Row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

/*
.Tangelo__Table__row:hover:not(.Tangelo__Table__row--highlight-disabled),
.Tangelo__Table__row:active:not(.Tangelo__Table__row--highlight-disabled) {
  cursor: pointer;
}
*/


/******************
 * TableHeaderRow *
 ******************/
.Tangelo__Table__Row--header {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-transform: uppercase;

  /*
   * Fixed Header
   */
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.Tangelo__Table__Row--header:hover:not(.Tangelo__Table__Row--highlight-disabled) {
  background-color: rgba(0, 0, 0, 0.1);
}

.Tangelo__Table__Row--header:active:not(.Tangelo__Table__Row--highlight-disabled) {
  background-color: rgba(0, 0, 0, 0.15);
}


/*************
 * TableBody *
 *************/
.Tangelo__Table__Body {
  overflow-y: auto;
}


/****************
 * TableBodyRow *
 ****************/
.Tangelo__Table__Row--body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.Tangelo__Table__Row--body:hover:not(.Tangelo__Table__Row--highlight-disabled) {
  background-color: rgba(0, 0, 0, 0.05);
}

.Tangelo__Table__Row--body:active:not(.Tangelo__Table__Row--highlight-disabled) {
  background-color: rgba(0, 0, 0, 0.1);
}

/* TODO not implemented yet */
/*
.Tangelo__Table__Row--body.Tangelo__Table__Row--selected {
  background-color: rgba(0, 0, 0, 0.8);
  font-color: rgba(255, 255, 255, 0.8);
}
*/


/*************
 * TableCell *
 *************/
.Tangelo__Table__Cell {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 0; /* for flex-basis % */
  padding: 0 16px;
  position: relative;
}

.Tangelo__Table__Cell * {
  vertical-align: middle;
}

.Tangelo__Table__Cell__Content {
  /*
   * Text Ellipsis
   */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Tangelo__Table__Cell--highlightable:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.Tangelo__Table__Cell--highlightable:active {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.Tangelo__Table__Cell--empty,
.Tangelo__Table__Cell--hide-right-border {
  border-right: none;
  margin-right: 1px;
}

.Tangelo__Table__Cell__Icons-Section {
  bottom: 4px;
  height: 16px;
  position: absolute;
  right: 4px;
}

.Tangelo__Table__Cell__Icon-Wrapper {
  /*
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  */

  display: inline-block;
  height: 16px;
  line-height: 16px;
  vertical-align: top;
  width: 16px;
}

.Tangelo__Table__Cell__Tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  bottom: calc(100% + 8px);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 500;
  left: 8px;
  line-height: 12px;
  padding: 12px 8px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}
